* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#container {
    background: url("../../../assets/img/fondoLogin.jpg") no-repeat center;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Jost', sans-serif;
    background-attachment: fixed;
    background-size: cover;

}

.main {
    width: 350px;
    height: 500px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
    margin-top: 2em;
}

#chk {
    display: none;
}

.login {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(51, 46, 46, 0.7);
}

.title {
    color: #fdfdfd;
}

#logo {
    width: 50%;
    margin-left: 25%;
    margin-top: 10px;
}
    label {
        color: #fff;
        font-size: 2.2em;
        justify-content: center;
        display: flex;
        font-weight: bold;
        cursor: pointer;
        transition: .5s ease-in-out;
    }

    input {
        width: 70%;
        height: 30px;
        background: #e0dede;
        justify-content: center;
        display: flex;
        margin: 20px auto;
        margin-bottom: 30px;
        padding: 10px;
        border: none;
        outline: none;
        border-radius: 5px;
    }

    button {
        width: 65%;
        height: 40px;
        margin: 10px auto;
        justify-content: center;
        display: block;
        color: #fff;
        background: #0a0f31;
        font-size: 1em;
        font-weight: bold;
        margin-top: 20px;
        outline: none;
        border: none;
        border-radius: 5px;
        transition: .2s ease-in;
        cursor: pointer;
    }

    span {
        position: absolute;
        color: rgb(255, 88, 88);
        margin-top: -1.8em;
        font-weight: bold;
        margin-left: 50px;
        border-radius: 5px;
    }

    .btnAccesoRapido {
        margin-top: 1rem;
        width: 50%;
    }

    button:hover {
        background: #2f2149;
    }

    #chk:checked~.login label {
        transform: scale(.6);
    }

    #spinner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        z-index: 10;
        width: 220px;
        height: 220px;
    }


    @media only screen and (orientation: landscape) and (min-width: 320px) and (max-width: 760px) {
        .main {
            margin-top: 10vh;
        }
    }