* {
  box-sizing: content-box;
  font-family: 'Francois One', sans-serif;
  text-transform: uppercase;
}

@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');

#menu {
  background: linear-gradient(to top, #000, #267f8d);
}

img {
  width: 30px;
  height: 35px;
}

a {
  color: #fff !important;
  font-size: 1.5em;
}

h6 {
  color: #fff !important;
}

.title{
  text-decoration: none;
  font-size: 1.5em;
}

#usuarioLogueado {
  position: absolute;
  display: flex;
  color: #fff !important;
  top: 0;
  right: 0;
  margin-top: 1rem;
  margin-right: 9rem;
}

#navbar {
  display: flex;
  align-items: center;
}

#offcanvasNavbar {
  background: linear-gradient(to right, #18222b, #4ca1af);
  max-width: 280px;
  border: none;
}

.navbar-brand {
  font-family: 'Francois One', sans-serif;
  font-size: 1.5em;
  margin: 0;
  padding: 0;
}

#logo {
  width: 35px;
  height: 35px;
  padding-bottom: 8px;
  padding-right: 5px;
}

.rotate {
	-webkit-animation: rotate-center 0.5s ease-in-out both;
	        animation: rotate-center 0.5s ease-in-out both;
}

 @-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}



@media only screen and (min-width: 260px) and (max-width: 520px) {

  a {
    color: #fff !important;
    font-size: 1.2em;
  }

  #offcanvasNavbar {
    min-height: 100vh;
    overflow-y: scroll;
  }

}