<nav class="navbar fixed-top" id="menu">
    <div class="container-fluid">
        <div>
            <img src="assets/img/logo.png" alt="" width="40" height="40" id="logo">
            <a class="title" routerLink="/home">A LA CARTA</a>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar">
            <img [ngClass]="btnMain" (click)="rotate()" src="assets/img/menu.png" alt="">
        </button>

        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h6 class="offcanvas-title" [hidden]="!auth" id="offcanvasNavbarLabel">{{usuarioLogin}}</h6>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav me-auto" id="navbar">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/home" data-bs-dismiss="offcanvas">Home <span
                                class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/platos" data-bs-dismiss="offcanvas">Buscar Platos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [hidden]="!auth" data-bs-dismiss="offcanvas" (click)="cerrarSesion()">Cerrar
                            Sesión</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</nav>