<div id="container" class="row">
  <div id="banner" class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light" [style.background-image]="'url(assets/img/banner.jpg)'">
    <div class="col-md-5 p-lg-5 mx-auto my-5 message">
      <h1 class="display-4 fw-normal">Restaurant</h1>
      <h1 class="display-4 fw-normal">A la Carta</h1>
      <p class="lead fw-normal">Somos un Restaurant con 40 años de experiencia. Conoce nuestros diversos platos
      </p>
      <a class="btn btn-grad heartbeat" routerLink="/platos">Busca tu plato</a>
    </div>
  </div>

  <div class="row g-0 message" id="barraMenu">
    <h2>Menú</h2>
    <div class="valores col">
      <p class="item-barra">Health Score:{{menuServ.promedioHealthScore | number:'1.1-2'}}</p>
      <p class="item-barra">Tiempo de preparación: {{menuServ.promedioTiempo | number:'1.1-2'}} min </p>
      <p class="item-barra">Precio Total: ${{menuServ.precioTotal | number:'1.1-2'}}</p>
    </div>
  </div>

  <div class="d-md-flex row g-0 flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="row " *ngFor="let plato of menu">
      <app-item-plato class="item" [plato]="plato" [menu]="true" (detailPlato)="obtenerPlato($event)"></app-item-plato>
    </div>
  </div>
  <div>
    <app-detalle-plato *ngIf="viewDetail" [platoSeleccionado]="platoSeleccionado" (detailEstado)="obtenerEstado($event)"> </app-detalle-plato>
  </div>
</div>